<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th style="text-align: right;">Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of items | ordenIngresoEgreso">
                  <td>{{item.descripcion}}</td>
                  <td align="right">
                    <span [ngClass]="{'text-success':item.tipo == 'ingreso','text-danger':item.tipo == 'egreso'}"> 
                      {{item.monto | currency}}
                    </span>
                  </td>
                  <td>{{item.tipo}}</td>
                  <td>
                    <button class="btn btn-danger" (click)="borrarItem(item)">
                      <i class="fa fa-trash"></i> Borrar
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
  